.App {
  text-align: center;
}
.navbar {
  box-shadow: 0 10px 6px -6px rgb(39, 39, 39);
  background-color: #080F0F !important;
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
.cartoonImg {
  width: 300px;
  height: 300px;
  border: 3px hidden white;
  padding: 5px;
  margin: 10px;
  box-shadow: 10px 10px 6px -6px rgb(39, 39, 39);
  border-radius: 8px;
}
.cartoonImg:hover {
  transform: scale(1.1);
}
